html
  head
    title Fitness Goal Tracker
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet' href='/styles.css')
  body
    header.container
      h1 Fitness Goal Tracker
      p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.
    main.container
      block content